<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dane dawcy</title>
</head>
<body>

<h1>Dane dawcy</h1>

<p><strong>Imię:</strong> {{ imie }}</p>
<p><strong>Nazwisko:</strong> {{ nazwisko }}</p>
<p><strong>PESEL:</strong> {{ pesel }}</p>
<p><strong>Grupa krwi:</strong> {{ grupa }}{{ rh }}</p>
<p><strong>Kontakt:</strong> {{ kontakt }}</p>

<p><a href="/dawca/dane/edytuj">Edytuj dane</a></p>

<p><a href="/dawca">⬅ Powrót do panelu</a></p>

</body>
</html>
