<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edytuj dane dawcy</title>
</head>
<body>

<h1>Edytuj swoje dane</h1>

<form method="POST">

    <p>Imię:
        <input type="text" name="imie" value="{{ imie }}" required>
    </p>

    <p>Nazwisko:
        <input type="text" name="nazwisko" value="{{ nazwisko }}" required>
    </p>

    <p>PESEL:
        <input type="text" name="pesel" value="{{ pesel }}" required>
    </p>

    <p>Kontakt:
        <input type="text" name="kontakt" value="{{ kontakt }}" required>
    </p>

    <button type="submit">Zapisz zmiany</button>
</form>

<p><a href="/dawca/dane">⬅ Powrót</a></p>

</body>
</html>
