<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wylogowano</title>
    <script>
        setTimeout(function() {
            window.location.href = "/login";
        }, 4000); // 4s
    </script>


    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 80px;
        }
    </style>
</head>
<body>
<h1>Zostałeś wylogowany</h1>
<p>Za chwilę zostaniesz przekierowany do strony logowania.</p>
<p>Jeśli przekierowanie nie nastąpi, kliknij poniżej:</p>
<a href="/login">Przejdź do logowania</a>
</body>
</html>
