<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
</head>
<body>

<h1>Panel administratora</h1>

<p><a href="/logout">Wyloguj</a></p>

<h2>Statystyki systemu</h2>
<ul>
    <li>Użytkownicy: {{ uzytkownicy }}</li>
    <li>Dawcy: {{ dawcy }}</li>
    <li>Pracownicy banku krwi: {{ pracownicy }}</li>
    <li>Szpitale: {{ szpitale }}</li>
    <li>Oddania krwi: {{ oddania }}</li>
    <li>Zapotrzebowania: {{ zapotrzebowania }}</li>
    <li>Badania: {{ badania }}</li>
</ul>

<h2>Moduły</h2>
<ul>
    <li><a href="/admin/uzytkownicy">Zarządzanie użytkownikami</a></li>
<!--    <li><a href="/admin/dawcy">Lista dawców</a></li>-->
<!--    <li><a href="/admin/pracownicy">Lista pracowników</a></li>-->
<!--    <li><a href="/admin/szpitale">Lista szpitali</a></li>-->
<!--    <li><a href="/admin/oddania">Oddania krwi</a></li>-->
<!--    <li><a href="/admin/badania">Badania</a></li>-->
<!--    <li><a href="/admin/zapotrzebowania">Zapotrzebowania</a></li>-->

<!--    <li><a href="/admin/statystyki/pracownicy">Aktywność pracowników</a></li>-->
<!--    <li><a href="/admin/statystyki/zapotrzebowania_duze">Duże zapotrzebowania</a></li>-->
<!--    <li><a href="/admin/statystyki/stan_krwi">Stan krwi</a></li>-->
<!--    <li><a href="/admin/statystyki/srednia_ilosc">Średnia ilość oddania</a></li>-->
<!--    <li><a href="/admin/statystyki/badania">Statystyki badań</a></li>-->
</ul>

</body>
</html>
